<div class="maratona-home-wrapper">
  <div class="m-5">

    <div class="mt-5">
      <div>
        <input type="text" [(ngModel)]="cifraCesar" />
        <button (click)="this.onClickCifraCesar()">Cesar</button>
      </div>
        <label>{{resultadoCesar}}</label>
    </div>

    <div class="mt-5">
      <div>
        <input type="text" [(ngModel)]="cifraVigenere" />
        <button (click)="this.onClickCifraVigenere()">Vigenere</button>
      </div>
      <label>{{resultadoVigenere}}</label>
    </div>

    <div class="mt-5">
      <div>
        <input type="text" [(ngModel)]="cercaTrilho" />
        <button (click)="this.onClickCercaTrilho()" >Trilho</button>
      </div>
      <label>{{resultadoTrilho}}</label>
    </div>

  </div>
</div>